<app>
    <p>{ props.message }</p>
    <p>{ props.message3 }</p>
    <button type="button" onclick={ btnClick}>スペシャルボタン</button>
    
    <script>
     export default{
      btnClick(){
      	alert('テストだよ')
      }
     }
    </script>
</app>
